<% comments.each do |comment| %>
    <% if comment.valid? %>
      <div class="card comment-card">
        <% if !!@updated_obj_id && @updated_obj_id == comment.id %>
          <fieldset class="flash notice">Comment updated</fieldset>
        <% end %>
        <fieldset>
          <span class="comment-name"><%= comment.name %>: </span>
          <span><%= comment.content %></span>
        </fieldset>
        <fieldset class="comment-buttons">
          <%= button_to "Edit Comment", edit_comment_path(comment), method: :get %>
          <%= button_to "Delete Comment", comment, method: :delete %>
        </fieldset>
      </div>
    <% end %>
<% end %>