// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new-comment fieldset {
  width: 100%;
  border: none;
}

.new-comment {
  min-height: 0 !important; 
}

.comment-card {
  min-height: 0 !important;
}

.comment-input {
  width: 100%;
  resize: vertical;
}

.comment-name {
  font-weight: 700
}

.comment-buttons {
  display: flex
}

.comment-buttons input:first-child{
  margin-left: 0;
}

.comment-buttons input {
  margin: 0 .5em;
}