// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event_container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 3em 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  display: block;
  padding: .5em 0;
}

.new_event textarea {
  width: 100%;
  min-height: 5em;
  resize: vertical;
}

.event_container fieldset {
  width: 100%;
  border: none;
}

.card {
  width: 100%;
  max-width: 70%;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em 1em;
  height: 100%;
  min-height: 30em;
}

.event-group {
  width: 100%;
}

.flash {
  width: 100%;
  font-weight: 700;
}

.alert {
  color:red
}

.notice {
  color: blue
}

.event_list {
  width: 100%;
  list-style-type: none;
  padding: 0 1em;
}

.event_item {
  line-height: 1.5;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.event-control {
  margin: 1em 0;
}